NEXTCLOUD_URL = "https://nxcloud.example.com"
NC_USERNAME = "smsbot"
NC_APP_PASSWORD = "smsbotpassword"
TALK_TOKEN = "lkjsd4k5"

BOT_TOKEN = "1234567890:AAABBBBCCCDDDFFFGGGHHHJJJKKKKLLL"
TELEGRAM_CHAT_ID = 2233445566  # your chat_id

INBOX_FOLDER = "/var/spool/gammu/inbox/"
